
<hr class="featurette-divider" id="front-speakers">
<div class="featurette">
    <h2 class="featurette-heading">Speakers<br /><span class="muted">You will be in good hands</span></h2>
    <ul class="thumbnails center">
        <li class="span4" ng-repeat="entry in speakers | orderBy: 'gsx$fullname.$t'">
            <div class="container-speaker ">
                <img ng-hide="entry.gsx$twitter.$t" ng-src="img/speakers/{{entry.gsx$image.$t}}" alt="{{entry.gsx$fullname.$t}}" title="{{entry.gsx$fullname.$t}}" class="speaker-image" />
                <a ng-show="entry.gsx$twitter.$t" href="https://twitter.com/{{entry.gsx$twitter.$t}}" target="_blank">
                    <img ng-src="img/speakers/{{entry.gsx$image.$t}}" alt="{{entry.gsx$fullname.$t}}" title="{{entry.gsx$fullname.$t}}" class="speaker-image" />
                </a>
                <h3>{{entry.gsx$fullname.$t}}</h3>
            </div>
        </li>
    </ul>
</div>

<hr class="featurette-divider" id="front-sponsors">
<div class="featurette">
    <h2 class="featurette-heading">Sponsors and Partners<br /><span class="muted">Thanks for their contribution</span></h2>
    <ul class="thumbnails center">
        <li class="span4" ng-repeat="entry in sponsors">
            <div class="thumbnail">
                <a href="{{entry.gsx$url.$t}}/?utm_source=devconmru&utm_medium=banner&utm_campaign=sponsor" target="_blank"><img ng-src="img/sponsors/{{entry.gsx$image.$t}}" alt="{{entry.gsx$partner.$t}}" /></a>
                <h3>{{entry.gsx$company.$t}}</h3>
                <p>{{entry.gsx$slogan.$t}}</p>
            </div>
        </li>
    </ul>
</div>

<hr class="featurette-divider" id="front-jobs">
<div class="featurette">
    <h2 class="featurette-heading">Job listings<br /><span class="muted">Watch out for offers</span></h2>
    <ul class="thumbnails center">
        <li ng-show="!jobs">Currently there are no active job listings... Stay tuned</li>
        <li ng-repeat="entry in jobs | orderBy: 'date':true">
            <div class="thumbnail">
                <a href="{{entry.gsx$url.$t}}/?utm_source=devconmru&utm_medium=banner&utm_campaign=job" target="_blank">
                    {{entry.gsx$jobtitle.$t}}
                </a>
            </div>
        </li>
    </ul>
</div>

<!--
<hr class="featurette-divider" id="front-orgateam">
<div class="featurette">
        <h2 class="featurette-heading">Organisation Team<br /><span class="muted">Who's behind all this?</span></h2>
        <ul class="thumbnails center">
            <li class="span4" ng-repeat="entry in orgas">
                <div class="thumbnail">
                    <a href="https://twitter.com/{{entry.gsx$twitter.$t}}" target="_blank"><img ng-src="img/speakers/{{entry.gsx$image.$t}}" alt="{{entry.gsx$fullname.$t}}" /></a>
                    <h3>{{entry.gsx$fullname.$t}}</h3>
                </div>
            </li>
        </ul>
</div>
-->

<hr class="featurette-divider">
<div class="featurette">
    <!--<img class="featurette-image pull-right img-circle fixed2" src="img/mscc-touch-icon-192x192.png" alt="" title="" />-->
    <h2 class="featurette-heading">Developers Conference 2015<br /><span class="muted">The First of its Kind in Mauritius</span></h2>
    <p>
        The Developers Conference 2015 is the first event in Mauritius, maybe even in the Indian Ocean which is organised as a
        "classic" conference. Yes, there have been various vendor-specific bootcamps in the past but never anything like this.
    </p>
    <p>
        <blockquote><em>"From craftsmen - For craftsmen"</em></blockquote>
    </p>
    <p>
        This year's conference is first time organised by the Mauritius Software Craftsmanship Community (MSCC) in partnership with a number of
        local and international companies. Although the MSCC was founded back in 2013 it quickly became clear that our tropical
        island has a certain lack of informational and technical events. During some monthly meetups we spoke about this situation
        and that it would be very interesting and delightful to organise such an event.
    </p>
    <p>
        Also, the monthly meetings of the MSCC are usually topic-centered and most amazingly we had solid technical information
        and good presenters - even though none is a professional trainer - during the last couple of month. The Developers Conference
        is just the consequent development of this process - our thirst for more information in the world of modern IT.
    </p>
    <p>
        Mauritius has been branded "Cyber Island" in the Indian Ocean... Opinions in those matters vary but with this conference
        we strive to improve the general attribution of our island. Mauritius has great political stability and economical advantages
        for foreign investors, and the most precious resource Mauritius has to offer is people's knowledge.<br />
        The ICT sector in Mauritius is growing since years and maturing as the fourth pillar of our economy. With its geographical
        position Mauritius is also welcome as a business and knowledge hub between Africa and Asia.
    </p>
    <p>
        Welcome to the first ever Developers Conference in Mauritius!
    </p>
    <a ui-sref="propose"></a>
</div>
<hr class="featurette-divider">
