<hr class="featurette-divider" id="pr-material" />
<div class="featurette pr">
    <h2 class="featurette-heading">Press material<br /><span class="muted">Free to use to cover the event</span></h2>
    <p>

    </p>
</div>

<hr class="featurette-divider" id="newsletter" />
<div class="featurette newsletter">
    <h2 class="featurette-heading">Newsletter<br /><span class="muted"></span></h2>
    <p>
        <img src="img/pr/DevelopersConference-1.png" alt="English Newsletter of 25.02.2015 (PDF)" title="English Newsletter of 25.02.2015 (PDF)" />
        <ul>
            <li><a href="img/pr/DevelopersConference-1_EN.pdf">25.02.2015 - English (PDF)</a></li>
            <li><a href="img/pr/DevelopersConference-1_FR.pdf">25.02.2015 - French (PDF)</a></li>
        </ul>
    </p>
</div>

<hr class="featurette-divider" id="banner" />
<div class="featurette banner">
    <h2 class="featurette-heading">Banner<br /><span class="muted"></span></h2>
    <ul class="thumbnails">
        <li class="">
            <img src="img/pr/bepartofit-landscapehigh.jpg" />
            <h3>Be Part Of It - Landscape (728x210px)</h3>
        </li>
        <li class="">
            <img src="img/pr/bepartofit-landscape.jpg" />
            <h3>Be Part Of It - Landscape (728x90px)</h3>
        </li>
        <li class="">
            <img src="img/pr/bepartofit-landscapesmall.jpg" />
            <h3>Be Part Of It - Landscape (468x58px)</h3>
        </li>
        <li class="span6">
            <img src="img/pr/bepartofit-skyscraper.jpg" />
            <h3>Be Part Of It - Skyscraper (160x600px)</h3>
        </li>
        <li class="span6">
            <img src="img/pr/bepartofit-square.jpg" />
            <h3>Be Part Of It - Square (336x280px)</h3>
        </li>
    </ul>
</div>

<hr class="featurette-divider" id="poster" />
<div class="featurette banner">
    <h2 class="featurette-heading">Poster<br /><span class="muted"></span></h2>
    <ul class="thumbnails">
        <li class="">
            <a href="img/pr/poster-1.jpg"><img src="img/pr/poster-1-thumb.png" alt="DevConMru - Poster #1" /></a>
            <h3>Poster #1</h3>
        </li>
    </ul>
</div>

<hr class="featurette-divider" />
