<hr class="featurette-divider" id="support" />
<div class="featurette">
    <ul class="thumbnails">
        <li>
            <h2 class="featurette-heading">Your Support is important<br /><span class="muted">Sponsorship &amp; Partner Opportunities</span></h2>
            <p>There are also openings for event sponsors. We have a wide variety of sponsorship opportunities ranging from the Platinum Level which includes half day boot camps, speaking sessions on the main stage and more, to the Silver Level which provides branding opportunities and enables organizations to interact with attendees in the Community Pavilion. If you’re interested in learning more about sponsorship opportunities, please contact mscc@kirstaetter.name.</p>
        </li>
    </ul>
</div>
